{% extends 'base.html' %}
{% block content %}

    <h3>{{ question.question_text }}</h3>

    {% if error_message %}<div class="alert alert-warning" role="alert">
  {{ error_message }}
</div>{% endif %}
    <div class="card">
        <div class="card-header">Please vote</div>
        <div class="card-body">
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for choice in question.choice_set.all %}

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="choice"
                                   id="choice{{ forloop.counter }}"
                                   value="{{ choice.id }}">
                            <label class="custom-control-label"
                                   for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                        </div>

                    {% endfor %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="Vote">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}