{% extends 'base.html' %}
{% load datatype_tags %}
{% block title %}Delete{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="card rounded shadow-lg">
            <div class="card-header text-white bg-secondary">
                <h4 class="mb-0">Delete Post Type - {{ datatype.name }}</h4>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" id="delete_confirm_form" method="post">
                    {% csrf_token %}
                    {% if datatype.id|reference_count == 0 %}
                        <p class="card-text">Are you sure you want to delete post type "{{ datatype.name }}"?</p>
                    {% else %}
                        <p class="card-text">Can not delete post type "{{ datatype.name }}" because of references to
                            other entities.</p>
                    {% endif %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnConfirm"
                            {% if not datatype.id|reference_count == 0 %}disabled{% endif %}>Confirm
                    </button>
                    <a href="{{ view.get_success_url }}" class="mr-1 btn btn-success btn-lg float-right">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}