{% extends 'base.html' %}
{% load property_tags %}
{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="text-muted">
                {{ view.kwargs.datatype_id|datatype_name }} DataType Properties
            </p>
            {% if properties %}
                {% for property in properties %}
                    <div class="card shadow-lg mb-3">
                        <div class="card text-center">
                            <div class="card-header text-white bg-secondary">
                                Created by {{ property.author.username }} @ {{ property.created_on }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ property.name }}</h5>
                                <p class="card-text">{{ property.type }}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <div style="display: flex; justify-content: space-around">
                                    <div>0 Fields</div>
                                    <div>Something</div>
                                    <div>0 Posts</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card shadow-lg mb-3">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary">
                            Oops, no property found!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">There is nothing here</h5>
                            <p class="card-text">Click plus icon below to create a new property</p>
                            <a href="#" class="btn btn-primary"><span class="fas fa-plus"></span> New Property</a>
                        </div>
                        <div class="card-footer text-muted">
                            Just now
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}