{% extends 'base.html' %}
{% load property_tags %}
{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="text-muted">
                Fields for {{ view.kwargs.datatype_id|datatype_name }}
            </p>
            {% if properties %}
                <div class="card shadow-lg">
                    <table class="text-center my-0 mx-0 table table-hover">
                        <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Data Type</th>
                            <th scope="col">Field Type</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Required</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for property in properties %}
                            <tr>
                                <th scope="row">{{ property.id }}</th>
                                <td>{{ property.name }}</td>
                                <td>{{ property.get_type_display }}</td>
                                <td>{{ property.get_generic_display }}</td>
                                <td>{{ property.author.username }}</td>
                                <td>{{ property.created_on }}</td>
                                <td>{{ property.required }}</td>
                                <td><a href="{% url 'property:delete' view.kwargs.datatype_id property.id %}"
                                       class="btn btn-primary{% if property.generic %} disabled{% endif %}"><span
                                        class="fas fa-trash-alt"></span></a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row"></th>
                            <td>Add New field</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="{% url 'property:create' view.kwargs.datatype_id %}"
                                   class="btn btn-primary{% if view.kwargs.datatype_id|datatype_generic %} disabled{% endif %}"><span
                                    class="fas fa-plus"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="card shadow-lg mb-3">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary">
                            Oops, no field found!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">There is nothing here</h5>
                            <p class="card-text">Click plus icon below to create a new field</p>
                            <a href="{% url 'property:create' view.kwargs.datatype_id %}"
                               class="btn btn-primary{% if view.kwargs.datatype_id|datatype_generic %} disabled{% endif %}"><span
                                    class="fas fa-plus"></span> New Field</a>
                        </div>
                        <div class="card-footer text-muted">
                            Just now
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}