{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '../static/base.css' %}">
    {% if "/users/login/" == request.path %}
        <script type="text/javascript" src="{% static '../static/login.js' %}"></script>{% endif %}
    {% if "/users/password_reset/" == request.path %}
        <script type="text/javascript" src="{% static '../static/password_reset.js' %}"></script>{% endif %}
    {% if "/users/reset/Nw/set-password/" == request.path %}
        <script type="text/javascript" src="{% static '../static/confirm_password_reset.js' %}"></script>{% endif %}
    {% if "/users/signup/" == request.path %}
        <script type="text/javascript" src="{% static '../static/signup.js' %}"></script>{% endif %}
    {% if "/communities/create" == request.path %}
        <script type="text/javascript" src="{% static '../static/create_community.js' %}"></script>{% endif %}
    {% if "/communities/update" in request.path %}
        <script type="text/javascript" src="{% static '../static/update_community.js' %}"></script>{% endif %}
    <title>Purposeful Community Platform</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="fa fa-users"></i> Purposeful Community Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item{% if "/" == request.path %} active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}"><span class="fas fa-home"></span> Home
                    {% if "/" == request.path %}
                        <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if "/communities/" == request.path %} active{% endif %}">
                <a class="nav-link" href="{% url 'community:index' %}"><span class="fas fa-hashtag"></span> Communities
                    {% if "/" == request.path %}
                        <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="fas fa-comment-dots"></span> Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}"><span class="fas fa-cog"></span> Admin</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated and '/communities/' == request.path %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community:create' %}"><span class="fas fa-plus"></span> New Community</a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user"></span> Welcome {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'password_reset' %}"><span class="fas fa-key"></span>Password
                            Reset</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span>
                            Logout</a>
                    </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}"><span class="fas fa-user"></span> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> Login</a>
                    </li>
                {% endif %}
        </ul>
    </div>
</nav>
<div class="container-fluid mt-3">
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<footer class="footer footer-transparent">
    <div class="container text-center">
        <span class="font-weight-bold">Use with purpose!</span>
    </div>
</footer>
</body>
</html>
