{% extends 'base.html' %}
{% load community_tags %}
{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="text-muted">
                Communities
            </p>
            {% if communities %}
                {% for community in communities %}
                    <div class="card shadow-lg mb-3">
                        <div class="card text-center">
                            <div class="card-header text-white bg-secondary">
                                Created by {{ community.author.username }} @ {{ community.created_on }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ community.name }}</h5>
                                <p class="card-text">{{ community.description }}</p>
                                <a href="{% url 'community:detail' community.id %}"
                                   class="btn btn-primary"><span
                                        class="fas fa-search"></span> View Community</a>
                                {% if user.is_authenticated %}
                                    {% if community.id|subscription_count_by_user:request.user.id == 0 %}
                                        <a href="{% url 'subscription:create' community.id %}"
                                           class="btn btn-primary"><span
                                                class="fas fa-user-plus"></span> Join Community</a>
                                    {% else %}
                                        <a href="{% url 'subscription:delete' community.id|subscription_id:request.user.id %}"
                                           class="btn btn-primary"><span class="fas fa-user-minus"></span> Leave
                                            Community</a>
                                    {% endif %}
                                    {% if community.author == request.user %}
                                        <a href="{% url 'community:update' community.id %}"
                                           class="btn btn-primary"><span class="fas fa-edit"></span> Update
                                            Community</a>
                                        <a href="{% url 'community:delete' community.id %}"
                                           class="btn btn-primary"><span class="fas fa-trash-alt"></span> Delete
                                            Community</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                                <div style="display: flex; justify-content: space-around">
                                    <div>{{ community.id|subscription_count }} Members</div>
                                    <div>{{ community.id|posttype_count }} Post Types</div>
                                    <div>0 Posts</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card shadow-lg mb-3">
                    <div class="card text-center">
                        <div class="card-header text-white bg-secondary">
                            Oops, no community found!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">There is nothing here</h5>
                            <p class="card-text">Click plus icon below to create a new community</p>
                            <a href="#" class="btn btn-primary"><span class="fas fa-plus"></span> New Community</a>
                        </div>
                        <div class="card-footer text-muted">
                            Just now
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}